
.footer {
  margin-top: 20px;
  text-align: center;
}

.messages {
  max-height: 400px;
  overflow: scroll;
}

.system-message {
  color: #999;
}

.control-panel .join-room {
  margin-left: 10px !important;
}

.control-panel .nickname {
  margin-right: 10px !important;
}
